*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Circular;
    src: url('resources/fonts/ProductSans-Medium.ttf')  format('truetype');
}
body{
    font-family: Circular, Arial, Helvetica, sans-serif;
    background-color: #0b1426;
}
.heading{
    margin-top: 10px;
    text-align: center;
}
img{
    margin: 10px;
    padding: 20px;
    width: 200px;
}
h2{
    text-align: center;
    color: whitesmoke;
    letter-spacing: 3px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0 10px 0;
}
label{
    text-align: left;
    margin-left: 6px;
    width: 90%;
    max-width: 500px;
    display: inline-block;
    font-size: 18px;
    color: #fcfefe;
}
input{
    font-size: 18px;
    width: 90%;
    max-width: 500px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
}
input::placeholder{
    font-size: 15px;
}
button{
    color: #fcfefe;
    font-size: 18px;
    background-color: #1398f9;
    font-family: inherit;
    width: 91%;
    padding: 10px 0;
    border: none;
    border-radius: 3px;
    margin: 5px 0;
    max-width: 500px;
}
#forgot-password{
    text-decoration: none;
    color: blueviolet;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
p{
    text-align: center;
    color: #fcfefe;
}
p a{
    color: blueviolet;
    text-decoration: none;
}